:root {
    --border-color: rgb(127,255,0);
    --border-color: rgb(127,255,0);
    --link-color: rgb(41, 37, 255);
    --h1-color: rgb(0,255,13);
    --text-shadow: rgb(25, 126, 0);
    --stroke-color: rgb(33, 161, 1);
}